<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Conference</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <h2>TechForward 2024</h2>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./schedule.html">Schedule</a></li>
                <li><a href="./speakers.html">Speakers</a></li>
                <li><a href="./registration.html">Registration</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="contact">
        <div class="contact-left">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h4>Our Address</h4>
            <p>1234 Tech Street</p>
            <p>San Francisco, CA 94105</p>
            <p>USA</p>
            <h4>Location</h4>
            <div class="map-container">
              
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11986.083542751792!2d19.8217493!3d41.3192854!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350311da93e594f%3A0xdacdd7212145b57a!2sPallati%20i%20Kongreseve!5e0!3m2!1sen!2s!4v1720164509831!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
                
            </div>
        </div>
        <div class="contact-right">
            <h4>Inquiries</h4>
            <p>Name</p>
            <input type="text" placeholder="Your Name">
            <p>Email</p>
            <input type="email" placeholder="Your Email">
            <p>Message</p>
            <textarea placeholder="Your Message"></textarea>
            <button type="submit">Send Message</button>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            
            <div class="social-links">
                <p>Follow us on social media:</p>
                <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
            
            <div class="quick-links">
                <p>Quick Links:</p>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../components/about.html">About</a></li>
                    <li><a href="../components/schedule.html">Schedule</a></li>
                    <li><a href="../components/speakers.html">Speakers</a></li>
                    <li><a href="../components/registration.html">Registration</a></li>
                    <li><a href="../components/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                &copy; 2024 Tech Conference. All rights reserved.
            </div>
            <div class="back-to-top">
                <a href="#top">Back to top</a>
            </div>
        </div>
    </footer>
</body>