<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Conference</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <h2>TechForward 2024</h2>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="./schedule.html">Schedule</a></li>
                <li><a href="./speakers.html">Speakers</a></li>
                <li><a href="./registration.html">Registration</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
   
    <section class="about">
        <h2>Event Speaker</h2>
        <p>Meet the industry who will be speaking at TechForward 2024. </p>
        
        <div class="box">
            <img src="../images/person-06.jpg" alt="Image 1">
            <h5>Title 1</h5>
            <p>Description 1</p>
            <a href="#"><i class="fab fa-facebook" style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
        <div class="box">
            <img src="../images/person-05.jpg" alt="Image 2">
            <h5>Title 2</h5>
            <p>Description 2</p>
            <a href="#"><i class="fab fa-facebook"  style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
        <div class="box">
            <img src="../images/person-04.jpg" alt="Image 3">
            <h5>Title 3</h5>
            <p>Description 3</p>
            <a href="#"><i class="fab fa-facebook"  style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
        <div class="box">
            <img src="../images/person-04.jpg" alt="Image 3">
            <h5>Title 3</h5>
            <p>Description 3</p>
            <a href="#"><i class="fab fa-facebook"  style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
        <div class="box">
            <img src="../images/person-04.jpg" alt="Image 3">
            <h5>Title 3</h5>
            <p>Description 3</p>
            <a href="#"><i class="fab fa-facebook"  style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
        <div class="box">
            <img src="../images/person-04.jpg" alt="Image 3">
            <h5>Title 3</h5>
            <p>Description 3</p>
            <a href="#"><i class="fab fa-facebook"  style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
        <div class="box">
            <img src="../images/person-04.jpg" alt="Image 3">
            <h5>Title 3</h5>
            <p>Description 3</p>
            <a href="#"><i class="fab fa-facebook"  style="color:blue"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"  style="color:blue"></i> Twitter</a>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            
            <div class="social-links">
                <p>Follow us on social media:</p>
                <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
            
            <div class="quick-links">
                <p>Quick Links:</p>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../components/about.html">About</a></li>
                    <li><a href="../components/schedule.html">Schedule</a></li>
                    <li><a href="../components/speakers.html">Speakers</a></li>
                    <li><a href="../components/registration.html">Registration</a></li>
                    <li><a href="../components/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                &copy; 2024 Tech Conference. All rights reserved.
            </div>
            <div class="back-to-top">
                <a href="#top">Back to top</a>
            </div>
        </div>
    </footer>
</body>